@inject TemplanzaHybrid.Services.IAuthService Auth

<ul class="navbar-nav me-auto">
  <li class="nav-item"><NavLink class="nav-link" href="/">Home</NavLink></li>
  <li class="nav-item"><NavLink class="nav-link" href="/productos">Productos</NavLink></li>

  @if (Auth.IsInRole(RolUsuario.Admin))
  {
    <li class="nav-item"><NavLink class="nav-link" href="/usuarios">Usuarios (Admin)</NavLink></li>
  }
</ul>

<ul class="navbar-nav ms-auto">
@if (Auth.IsAuthenticated)
{
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
      <i class="bi bi-person-circle me-1"></i>@(Auth.UsuarioActual?.Nombre ?? "Usuario")
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="/perfil"><i class="bi bi-card-text me-2"></i>Mi perfil</a></li>
      @if (Auth.IsInRole(RolUsuario.Admin))
      {
        <li><a class="dropdown-item" href="/usuarios"><i class="bi bi-people me-2"></i>Usuarios (Admin)</a></li>
      }
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/logout">Salir</a></li>
    </ul>
  </li>
}
</ul>
